body{
    background-color: lightgray;
}

input{
    transition: border-radius 1s ease, box-shadow 1s ease, background-color 1s ease;
}

input:hover{
    border-radius: 25%;
    box-shadow: 0 4px 4px blue;
    background-color: lightblue;
}